
/*--------------custom-fonts---------------*/

@font-face {
    font-family:Neuropol ;
    src: url(/neuropol.ttf);
}

/*--------------bg-images---------------*/

.bg-img-header{ 
  background: url("/pendulum_in_silico_sumbol_logo_92815_1920x1080.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}

.pendulum{
    font-size: 40px;
    font-family: 'Neuropol';
    color: #000;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00f9ff, 0 0 30px #00f9ff, 0 0 40px #00f9ff, 0 0 55px #00f9ff, 0 0 75px #00f9ff;
    text-align: center;
    
}


.no-margins{
    margin: 0px;
    padding: 0px;
}

/*--------------header---------------*/


.custom-header{
    height: 680px;
    margin: 0px;
}

.menu-item{
    cursor: pointer;
    margin: 10px;
    
}

.icon-bar{
    background-color: #000;
    margin: 6px 6px;
    margin-left: 6px;
    height: 3px;
    width: 23px;
    border-radius: 8px;
}

.icon-bar-mid{
    background-color: #000;
    margin: 0px 0px;
    height: 3px;
    width: 35px;
    border-radius: 8px;
}

.neon{
    color: #fff;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00f9ff, 0 0 30px #00f9ff, 0 0 40px #00f9ff, 0 0 55px #00f9ff, 0 0 75px #00f9ff;
}




