

/*---------navbar-----------------------------------*/


#sign-up-input{
    float:left;
    margin-right: .75em;
}

#sign-up-btn{
    border: 2px solid;
    border-color: #aca091;
    background: none;
    padding: 5px 12px;
    margin: 5px;
}

.social-nav{
    background-image: url("/assets/top-nav.jpg");
    
}

.social-icons{
    color: #92713b;
}
.navbar{
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}

.main-nav{
    background-image: url("/assets/bubinga-1200x300.jpg");    
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

/*---------top-row-------------------------------*/


.home-top{
    text-align: right;
    box-shadow:  inset 24vw 0px 15vw 10vw  #191718;
    box-sizing: border-box;
    
}
 .about-top{
     padding: 0;
 }

#main-img {
    z-index:-1;
    position: relative;
}

#about-img{
    width: 100%;
    height: 80%;
}

#jbt-name{
    position: absolute ;
    left:0; 
    top: 5em;
    height: 16vw;
}

/*---------tour main------------------------------------------*/

.tour-img-row{
    /*background-image: url("/assets/bubinga-1200x300.jpg");
    background-size: contain;*/
    text-align: center;
    /*padding: 16px;*/
}

.tour-img-col{
    padding: 0;
}
.tour-img{
    z-index: 1;
    height: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
    
}

.tour-row{
    background-image: url("/assets/4957b0603a0416b.jpg");
    background-size: contain; 
    text-align: center;
}

.tour-block{
    color: #cf922a;
}
.tour-date{
    display: inline-block;
    text-align: center;

}
.month{
    display: block;
}

.day{
    display: block;
    font-size: 2em;
}

.tour-location:before{
    content: "";
    background-color: #cf922a;
    width: 2px;
    height: 58px;
    top: 14px;
    right: 350px;
    position: absolute;
}

.tour-location{
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    padding: 0px 10px;
}

.tour-location h3{
    font-size: 18px;
    font-weight: bold;
}

.tour-buttons{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn-group{
    vertical-align: top;
}

#tour-info-btn{
    border: 2px solid;
    border-color: #000;
    background: none;
    padding: 5px 12px;
    margin: 5px;
    
}

#tour-tickets-btn{
    border: 2px solid;
    border-color: #000;
    background: none;
    padding: 5px 9px;
    margin: 5px;
}




/*---------discography--------------------------------------*/

.disc-row{
    background-image: url("/assets/4957b0603a0416b.jpg");
    background-size: contain; 
    padding-bottom: 25px;
    
}
.disc-header{
    text-align: center;
    color: white;
    font-weight: 200;
}

.disc-title{
    font-family: "oswald", sans-serif;
    font-size: 2em;
    font-weight: bold;
}
 
.album-row{
    padding-bottom: 10px;
}

.album-caption{
    text-align: center;
   
}

.album-title{
    color: white;
    font-size: 1.25em;
    
}

.more-btn{
    text-align: center;
}

#more-btn-content{
    color: #fff;
    border: 2px solid;
    border-color: #fff;
    background: none;
    padding: 5px 12px;
    margin-top: 12px;
    
    
}

/*---------video main-----------------------------------------------*/

.video-row{
    text-align: center;
    padding: 0;
    
}

.video-container{
    background-image: url("/assets/bubinga-1200x300.jpg");
    background-size: contain;
    width: 100%;
    height: 100%;
    padding: 20px;

}

/*---------mailing list--------------------------------------------------*/

.mailing-list-row{
    background-image: url("/assets/4957b0603a0416b.jpg");
    background-size: contain;  
    padding: 15px;
    
 
}

.mail-logo{
    text-align: center;
    margin-top: 15px;
}

.jbt-logo3{
    width: 50%;
    height:50%;
}


.mailing-list-heading{
    text-align: center;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.h2-mail{
    color: #f9c958;
    font-weight: bold;
    
}

#mailing-btn{
    color: #f9c958;
    border: 2px solid;
    border-color: #f9c958;
    background: none;
    padding: 5px 5vw;
    margin-top: 12px;
    font-size: 20px;
    font-size: 3vh;
    font-weight: bold;
    cursor: pointer;
    
}

.mailing-buttons{
    text-align: center;
}


/*---------footer-----------------------------------------------*/

footer{
    background-image: url("/assets/bubinga-1200x300.jpg");
    background-size: contain;
    margin: 0;
    padding-top: 10px;
    text-align: center;
    
}

.copyright{
    padding-bottom: 10px;
}

.fa-copyright{
    color:white;
}

.footer-menu ul{
    padding-left: 0;
    vertical-align: middle;
}

.footer-menu li{
    list-style: none;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
}


.footer-menu li a{
    color: white;
}

.footer-menu li::before{
    content: '/';
    color: #696969;
    font-size: 15px;
    position: relative;
    left: -4px;
    top: 2px;
}

.footer-menu li:first-child:before {
    content: "" !important;
}

.fas{
    font-size: 18px;
}

.to-top{
    color: white;
}

footer p{
    color: white;
}
/*---------media-queries-------------------------------------------*/

@media(min-width:768px){
    .logo{
        z-index:-1;
    }
    .disc-row{
        padding-right:100px;
        padding-left: 100px;
    }
    
}

@media(max-width:767px){
    #jbt-name{
        position: absolute;
        top: 6vw;
        left: 0vw;
        height: 18vw;
    }
    .tour-img-row {
        text-align: center;
    
    }
    .tour-img{
        width: 100%
    }
}