@import url(https://fonts.googleapis.com/css?family=Lato);

/*--------general styles-----------------------------------*/

body{
    background-color: #333;
    font-family: "Lato",georgia,serif;
    font-size: 14px;
    
   
}

h1, h2, h3, h4, h5{
    font-weight: bold;
    text-transform: uppercase;
}

h1{
    font-size: 3.2em;
}

h2{
    font-size: 2em;
}

.section-header{
    color: black;
    text-align: center;
    font-family: "Lato", sans-serif;
}

.section-header-w{
    color: white;
    text-align: center;
}

.more-btn{
    text-align: center;
    margin-bottom: 20px;
}

.more-btn-content{
    color: #000;
    border: 2px solid;
    border-color: #000;
    background: none;
    padding: 5px 12px;
    margin-top: 12px;
}

.more-btn-content-w{
    color: #fff;
    border: 2px solid;
    border-color: #fff;
    background: none;
    padding: 5px 12px;
    margin-top: 12px;
}

.top-row{
    margin-top: 100px;
}

/*---------header-navbar-----------------------------------*/



#sign-up-input{
    float:left;
    padding: 10px 0;
    color: white;
}

#sign-up-input input{
    border: none;
    background: transparent;
    border-bottom: 1px solid #000;
    width: 190px;
    text-align: center;
    
}

#sign-up-btn{
    border: 2px solid;
    background: none;
    padding: 5px 12px;
    margin: 5px;
}

.social-nav{
    color: white;
    margin-left: 30%;
    
}


.navbar{
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}

.navbar-right{
    margin: 0;
}
.main-nav{
    background-image: url("/assets/bubinga-1200x300.jpg"); 
    
}

.navbar-default .navbar-nav>li>a {
    color: white;
}


.navbar-brand{
    padding: 5px;
    height: 100px;
    margin-left: 0px !important;
}

.logo{
    width: 45px;
    margin-left: 20px;
}

/*-----social-sidebar--------*/

.social-sidebar{
    position: fixed;
    top: 33%;
    left: 0;
    z-index: 99;
}

.social-sidebar a{
    display: block;
    text-align: center;
    padding: 8px;
    margin: 5px 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 15px;
    background-color: #a93d3d;
}


/*---------home-top-row--------------------------*/

    

.home-top-row{
    background-image: url("/assets/butler-john-trio.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    margin-top: 50px;
    
}

.jbt-badge{
    height: 200px;
    width: auto;
}

.jbt-name{
    font-family: "Megrim";
    text-align: center;
    color: white;
    font-size: 2em;
    padding-top: 6vh;
}




/*---------video home page-----------------------------------------------*/



.video-news-row{
    background-image: url("/assets/tour-bg1.jpg");
    text-align: center;
    padding: 0;
    
}

.video-home{
    padding-bottom: 30px;
}

.video-wrapper{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}


.video-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}    

/*---------news--------------------------------------*/

.news-info{
    padding-top: 20px;
    padding-bottom: 20px;
}



.social-row{
    padding-bottom: 25px;
    padding-top: 1px;
    position: relative;
}

.social-row::before {
  content: "";
  background: url("/assets/1000_FleshBlood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.social-networks-icons{
    text-align: center;
}

.social-networks-icons h4{
    font-family: "Lato", sans-serif;
    color: white;
}

.social-icons{
    padding-left: 0;
    
}

.social-icons li i{
    border-radius: 20px;
}

.social-icon {
    color: #fff;
    list-style: none;
}

.social-icons li {
    display: inline;
    padding: 5px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook-f {
    padding:10px 16px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #a93d3d;
   
}

.fa-facebook-f:hover {
    background-color: #3d5b99;
}

.fa-twitter {
    padding:10px 13px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #a93d3d;
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #a93d3d;
}

.fa-instagram:hover {
    background-color: #e1306c;
}

.fa-youtube {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #a93d3d;
}

.fa-youtube:hover {
    background-color: #e64a41;
}

.fa-spotify {
    padding:10px 13px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #a93d3d;
}

.fa-spotify:hover {
    background-color: #1db954;
}

/*---------discography home page--------------------------------------*/

   

.disc-row{
    padding-bottom: 25px;
    padding-top: 1px;
    position: relative;
}

.disc-row::before {
  content: "";
  background: url("/assets/1000_FleshBlood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}



.disc-header{
    text-align: center;
    color: white;
    font-weight: 200;
}



 
.album-row{
    padding-bottom: 10px;
}

.album-caption{
    text-align: center;
   
}

.album-title{
    color: white;
    font-size: 1.25em;
    
}

/*---------tour home------------------------------------------*/

.tour-bg{
    background-image: url("/assets/tour-bg1.jpg");
}

.tour-header{
    color: #fff;
}

.twitter-list{
    padding: 0;
}

.twitter-tweet{
    width: 100%;
    height: auto;
    background-color: transparent;
}


.twitter-list-item{
    background-color: transparent;
}





/*---------mailing list home page--------------------------------------------------*/

.mailing-list-row{
    background-image: url("/assets/mail-bg.jpg");
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.mail-logo{
    text-align: center;
    margin-top: 15px;
}

.jbt-logo3{
    width: 50%;
    height:50%;
}


.mailing-list-info{
    text-align: center;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f9c958;
    
}



#mailing-btn{
    color: #f9c958;
    border: 2px solid;
    border-color: #f9c958;
    background: none;
    padding: 5px 5vw;
    margin-top: 12px;
    font-size: 20px;
    font-size: 3vh;
    font-weight: bold;
    cursor: pointer;
    
}

.mailing-buttons{
    text-align: center;
}
 

/*---------about page--------------------------------*/


#about-img{
    width: 100%;
    height: 80%;
}


.jbt-about{
    background-color: #000;
    color: white;
    padding: 15px;
    
}



.band-member-img-col{
    padding: 0;
    
    
}

.band-members-img{
    width:100%;
    position: relative;
    z-index: -1;
    
}

.band-member-bio{
    padding: 10px;
    color: white;
    height: 100%;
    background-color: #000;
}

.band-member-bio h2{
    margin: 0;
}




/*---------tour page----------------*/

.tour-container{
    background-color: #191718;
    text-transform: uppercase
}


.tour-row{
    background-image: url("/assets/4957b0603a0416b.jpg");
    background-size: contain; 
    text-align: center;
}

.tour-header{
    text-align: center;
    color: #000;
}

.tour-list{
    list-style: none;
    font-family: "Cinzel",georgia,serif;
    overflow: hidden;
    color: #7d4408;
}


.tour-date{
    display: inline-block;
}

.day{
    display: inline-block;
    color: white;
}

.month-year{
    display: block;
}

.tour-location{
    display: block;
    color: white;
}

.tour-venue{
    display: block;
}

.tour-tickets{
   padding: 0;
   text-align: center;
   width: 75px;
    
}
.tour-tickets a{
    display: block;
    color: #7d4408;
    text-decoration: none;
    border: 1px solid #7d4408;
    padding: 9px 7px;
    border-radius: 4px;
    cursor: pointer;
       
}

.tour-list li:last-child{
    border-bottom: 0;
}

.tour-tickets a:hover{
    color: white;
    -webkit-transition: color ;   
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition:color .3s ease-in-out; 
   
}

.tour-list-event{
    border-bottom: 2px solid #7d4408;
    padding: 15px 0 15px 0;
}

.tour-mailing-list{
    padding-bottom: 20px;
    color: #927d7d;
}

.tour-join{
    text-align: center;
}

input[type=text], #country{
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.tour-register{
    text-align: center;
}

.registerbtn{
    width: auto;
    margin-top: 15px;
    padding: 8px;
    border-radius: 5px;
    background-color: #f1f1f1;
    
}

label{
    text-align: left;
    padding: 10px 0 2px 0;
    margin: 0;
}


/*---------music page-----------------------------------------------*/

.music-container{
    margin-bottom: 30px;
}

.music-top-row{
    margin-top: 20px;
}

#music-logo{
    width: 80%;
}

#music-jbt{
    width: 90%;
    margin-top: 8%;
}

.album-header{
    text-align: center;
    color: white;
}

/*--album cover and spotify embed elements--*/

.audio{
    position: absolute;
    top: 0%;
    z-index: -1;
    height: 231px;
    width: 231px;
}

#wrap {
    height: 231px;
    width: 231px;
    
    position: relative;
    z-index: 1;
}

#home,
#tin, 
#flesh,
#april,
#grand,
#sunrise{
    overflow-y: hidden;
    max-height: 231px;
    -webkit-transition: all .5s cubic-bezier(0, 1, 0.5, 1);
    transition: all .5s cubic-bezier(0, 1, 0.5, 1);
    height: 231px; 
    width: 231px;
}

#toggle-home,
#toggle-tin,
#toggle-flesh,
#toggle-april,
#toggle-grand,
#toggle-sunrise{
    display: none;
}

#toggle-home + label, 
#toggle-tin + label,
#toggle-flesh + label,
#toggle-april + label,
#toggle-grand + label,
#toggle-sunrise + label{
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    color: white;
    background: #191718;
    margin: 15px 0 5px 0px;
    display: inline-block;
    cursor: pointer;
}

/*hidden checkbox action to toggle album and spotify embed*/

#toggle-home:checked ~ #wrap > #home{
    max-height: 0;
}

#toggle-tin:checked ~ #wrap > #tin{
    max-height: 0;
}

#toggle-flesh:checked ~ #wrap > #flesh{
    max-height: 0;
}

#toggle-april:checked ~ #wrap > #april{
    max-height: 0;
}

#toggle-grand:checked ~ #wrap > #grand{
    max-height: 0;
}

#toggle-sunrise:checked ~ #wrap > #sunrise{
    max-height: 0;
}
/*---------footer-----------------------------------------------*/

footer{
    background-image: url("/assets/bubinga-1200x300.jpg");
    background-size: contain;
    margin: 0;
    padding-top: 10px;
    text-align: center;
    
}

.copyright{
    padding-bottom: 10px;
}

.fa-copyright{
    color:white;
}

.footer-menu ul{
    padding-left: 0;
    vertical-align: middle;
}

.footer-menu li{
    list-style: none;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
}


.footer-menu li a{
    color: white;
}

.footer-menu li::before{
    content: '/';
    color: #696969;
    font-size: 15px;
    position: relative;
    left: -4px;
    top: 2px;
}

.footer-menu li:first-child:before {
    content: "" !important;
}

.fas{
    font-size: 18px;
}

.to-top{
    color: white;
}

footer p{
    color: white;
}
/*---------media-queries-------------------------------------------*/

@media(min-width:768px){
    .home-top-row{
        height: 80vh;
    }
    .jbt-name h2{
        font-size: 2.8em;
    }
    
    .disc-row{
        padding-right:100px;
        padding-left: 100px;
    }
    .band-members-row{
    box-shadow:  inset -56vw 13px 9vw 2vw  #000;
    }
    .band-members-mid-row{
    box-shadow:  inset 56vw 0px 13vw 7vw  #000;
    }
    .display-table-row{
        display: table;
    }
    .table-cell{
        display: table-cell;
        float: none;
    }
    
}

@media(min-width:992px){
    .home-top-row{
        height: 90vh;}
}

@media(max-width:767px){
    .home-top{
        box-shadow: inset 16vw -13px 41vw 3vw #191718;
    }
    .jbt-name h2{
        font-size: 2em;
    }
    .tour-img-row {
        text-align: center;
    }
    .tour-img{
        width: 100%
    }
    .band-members-img{
        width: 100%;
    }
    .tour-tickets{
        margin: 5px 0;
    }
    .home-top-row{
        margin-top: 50px;
    }
}


@media(min-width:1024px){
    #wrap{
        left: 10%;
    }
    .jbt-name h2{
        font-size: 3.5em;
    }
}

