
/*--------general styles-----------------------------------*/

body{
    font-family: "Cinzel",georgia,serif;
    font-size: 14px;
    background-color: #191718;
   
}

h1, h2, h3{
    font-weight: bold;
    text-transform: uppercase;
}

h1{
    font-size: 3.2em;
}

h2{
    font-size: 2em;
}

p{
    margin: 0;
    padding: 8px;
}

/*---------header-navbar-----------------------------------*/



#sign-up-input{
    float:left;
    margin-right: .75em;
    padding: 10px;
}

#sign-up-input input{
    border: none;
    background: transparent;
    border-bottom: 1px solid #000;
    width: 190px;
    text-align: center;
}

#sign-up-btn{
    border: 2px solid;
    border-color: #aca091;
    background: none;
    padding: 5px 12px;
    margin: 5px;
}

.social-nav{
    background-image: url("/assets/top-nav.jpg");
    
}

.social-icons{
    color: #92713b;
}
.navbar{
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}

.main-nav{
    background-image: url("/assets/bubinga-1200x300.jpg");    
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-brand{
    padding: 3px 0;
    margin-left: 30px;
}

.logo{
    width: 45px;
    margin-left: 20px;
}


/*---------home-top-row--------------------------*/




.home-top{
    text-align: right;
    box-shadow:  inset 33vw -50px 15vw 3vw #191718;
    padding: 0;
}
    

#main-img {
    z-index:-1;
    position: relative;
    height: 90%;
    width: 80%;
}

#jbt-name{
    position: absolute ;
    left:0; 
    top: 5em;
    height: 16vw;
}

/*---------discography home page--------------------------------------*/

.disc-row{
    background-image: url("/assets/4957b0603a0416b.jpg");
    background-size: contain; 
    padding-bottom: 25px;
    
}
.disc-header{
    text-align: center;
    color: white;
    font-weight: 200;
}

.disc-title{
    font-family: "oswald", sans-serif;
    font-size: 2em;
    font-weight: bold;
}
 
.album-row{
    padding-bottom: 10px;
}

.album-caption{
    text-align: center;
   
}

.album-title{
    color: white;
    font-size: 1.25em;
    
}

.more-btn{
    text-align: center;
    margin-bottom: 20px;
}

#more-btn-content{
    color: #fff;
    border: 2px solid;
    border-color: #fff;
    background: none;
    padding: 5px 12px;
    margin-top: 12px;
    
    
}

/*---------video home page-----------------------------------------------*/

.video-row{
    text-align: center;
    padding: 0;
    
}

.video-container{
    background-image: url("/assets/bubinga-1200x300.jpg");
    background-size: contain;
    width: 100%;
    height: 100%;
    padding: 20px;

}

/*---------mailing list home page--------------------------------------------------*/

.mailing-list-row{
    background-image: url("/assets/4957b0603a0416b.jpg");
    background-size: contain;  
    padding: 15px;
    
 
}

.mail-logo{
    text-align: center;
    margin-top: 15px;
}

.jbt-logo3{
    width: 50%;
    height:50%;
}


.mailing-list-info{
    text-align: center;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f9c958;
    
}



#mailing-btn{
    color: #f9c958;
    border: 2px solid;
    border-color: #f9c958;
    background: none;
    padding: 5px 5vw;
    margin-top: 12px;
    font-size: 20px;
    font-size: 3vh;
    font-weight: bold;
    cursor: pointer;
    
}

.mailing-buttons{
    text-align: center;
}
 

/*---------about page--------------------------------*/


#about-img{
    width: 100%;
    height: 80%;
}


.jbt-about{
    background-color: #191718;
    color: white;
    padding: 15px;
    
}



.band-member-img-col{
    padding: 0;
    
    
}

.band-members-img{
    width:100%;
    position: relative;
    z-index: -1;
    
}

.band-member-bio{
    padding: 10px;
    color: white;
    height: 100%;
    background-color: #191718;
}

.band-member-bio h2{
    margin: 0;
}
/*---------tour home------------------------------------------*/


.tour-img-col{
    padding: 0;
}
.tour-img{
    z-index: 1;
    height: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
    
}


/*---------tour page----------------*/

.tour-container{
    background-color: #191718;
    text-transform: uppercase
}


.tour-row{
    background-image: url("/assets/4957b0603a0416b.jpg");
    background-size: contain; 
    text-align: center;
}

.tour-header{
    text-align: center;
    color: white;
}

.tour-list{
    list-style: none;
    font-family: "Cinzel",georgia,serif;
    overflow: hidden;
}


.tour-date{
    display: inline-block;
}

.day{
    display: inline-block;
    color: white;
}

.month-year{
    display: block;
    color: #927d7d;
}

.tour-location{
    display: block;
    color: white;
}

.tour-venue{
    display: block;
    color: #927d7d;
}

.tour-tickets{
   padding: 0;
   text-align: center;
   width: 75px;
    
}
.tour-tickets a{
    display: block;
    color: #927d7d;
    text-decoration: none;
    border: 1px solid #927d7d;
    padding: 9px 7px;
    border-radius: 4px;
    cursor: pointer;
       
}

.tour-list li:last-child{
    border-bottom: 0;
}

.tour-tickets a:hover{
    color: white;
    -webkit-transition: color ;   
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition:color .3s ease-in-out; 
   
}

.tour-list-event{
    border-bottom: 2px solid #242424;
    padding: 15px 0 15px 0;
}

.tour-mailing-list{
    padding-bottom: 20px;
    color: #927d7d;
}

.tour-join{
    text-align: center;
}

input[type=text], #country{
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.tour-register{
    text-align: center;
}

.registerbtn{
    width: auto;
    margin-top: 15px;
    padding: 8px;
    border-radius: 5px;
    background-color: #f1f1f1;
    
}

label{
    text-align: left;
    padding: 10px 0 2px 0;
    margin: 0;
}


/*---------music page-----------------------------------------------*/

.music-container{
    background-color: #191718;
    margin-bottom: 30px;
}

.music-top-row{
    margin-top: 20px;
}

#music-logo{
    width: 80%;
}

#music-jbt{
    width: 90%;
    margin-top: 8%;
}

.album-header{
    text-align: center;
    color: white;
}

/*--album cover and spotify embed elements--*/

.audio{
    position: absolute;
    top: 0%;
    z-index: -1;
    height: 231px;
    width: 231px;
}

#wrap {
    height: 231px;
    width: 231px;
    
    position: relative;
    z-index: 1;
}

#home,
#tin, 
#flesh,
#april,
#grand,
#sunrise{
    overflow-y: hidden;
    max-height: 231px;
    -webkit-transition: all .5s cubic-bezier(0, 1, 0.5, 1);
    transition: all .5s cubic-bezier(0, 1, 0.5, 1);
    height: 231px; 
    width: 231px;
}

#toggle-home,
#toggle-tin,
#toggle-flesh,
#toggle-april,
#toggle-grand,
#toggle-sunrise{
    display: none;
}

#toggle-home + label, 
#toggle-tin + label,
#toggle-flesh + label,
#toggle-april + label,
#toggle-grand + label,
#toggle-sunrise + label{
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    color: white;
    background: #191718;
    margin: 15px 0 5px 0px;
    display: inline-block;
    cursor: pointer;
}

/*hidden checkbox action to toggle album and spotify embed*/

#toggle-home:checked ~ #wrap > #home{
    max-height: 0;
}

#toggle-tin:checked ~ #wrap > #tin{
    max-height: 0;
}

#toggle-flesh:checked ~ #wrap > #flesh{
    max-height: 0;
}

#toggle-april:checked ~ #wrap > #april{
    max-height: 0;
}

#toggle-grand:checked ~ #wrap > #grand{
    max-height: 0;
}

#toggle-sunrise:checked ~ #wrap > #sunrise{
    max-height: 0;
}
/*---------footer-----------------------------------------------*/

footer{
    background-image: url("/assets/bubinga-1200x300.jpg");
    background-size: contain;
    margin: 0;
    padding-top: 10px;
    text-align: center;
    
}

.copyright{
    padding-bottom: 10px;
}

.fa-copyright{
    color:white;
}

.footer-menu ul{
    padding-left: 0;
    vertical-align: middle;
}

.footer-menu li{
    list-style: none;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
}


.footer-menu li a{
    color: white;
}

.footer-menu li::before{
    content: '/';
    color: #696969;
    font-size: 15px;
    position: relative;
    left: -4px;
    top: 2px;
}

.footer-menu li:first-child:before {
    content: "" !important;
}

.fas{
    font-size: 18px;
}

.to-top{
    color: white;
}

footer p{
    color: white;
}
/*---------media-queries-------------------------------------------*/

@media(min-width:768px){
    
    .disc-row{
        padding-right:100px;
        padding-left: 100px;
    }
    .band-members-row{
    box-shadow:  inset -56vw 13px 9vw 2vw  #191718;
    }
    .band-members-mid-row{
    box-shadow:  inset 56vw 0px 13vw 7vw  #191718;
    }
    
    }
}

@media(max-width:767px){
    .home-top{
        box-shadow: inset 16vw -13px 41vw 3vw #191718;
    }
    #main-img{
        width: 100%;
    }
    #jbt-name{
        position: absolute;
        top: 6vw;
        left: 0vw;
        height: 18vw;
    }
    .tour-img-row {
        text-align: center;
    }
    .tour-img{
        width: 100%
    }
    .band-members-img{
        width: 100%;
    }
    .tour-tickets{
        margin: 5px 0;
    }
}


@media(min-width:1024px){
    #wrap{
        left: 10%;
    }
}

