@import url(https://fonts.googleapis.com/css?family=Lato);

/*--general styles---*/

body{
    background-color: #000;
    font-family: "Lato",georgia,serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5{
    font-weight: bold;
    text-transform: uppercase;
}

h1{
    font-size: 3.2em;
}

h2{
    font-size: 2em;
}

.top-img-row{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    margin-top: 60px;
}

.section-header{
    color: black;
    text-align: center;
    font-family: "Lato", sans-serif;
}

.section-header-w{
    color: white;
    text-align: center;
}

.more-btn{
    text-align: center;
    margin-bottom: 20px;
}

.more-btn-content{
    color: #000;
    border: 2px solid;
    border-color: #000;
    background: none;
    padding: 5px 12px;
    margin-top: 12px;
}

.more-btn-content-w{
    color: #fff;
    border: 2px solid;
    border-color: #fff;
    background: none;
    padding: 5px 12px;
    margin-top: 12px;
}


/*--header-navbar--*/

.navbar-logo{
    width: auto;
    height: 55px;
    padding: 5px;
}

.navbar-jbt{
    font-family: "Megrim";
    color: white;
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    margin-left: 10px;
}

.navbar-jbt:hover{
    text-decoration: none;
    color: #fff;
}

.register-form{
    display: inline-block;
}

.form-navbar{
    float: left;
    margin: 10px;
}

.register-form input::-webkit-input-placeholder {
    color: white !important;

}
 
.register-form input:-moz-placeholder { /* Firefox 18- */
    color: white !important;  
}
 
.register-form input::-moz-placeholder {  /* Firefox 19+ */
    color: white !important;  
}
 
.register-form input:-ms-input-placeholder {  
    color: white !important;  
}

.form-control{
    background-color: transparent;
    border: none;
    border-bottom: solid 1px white;
    border-radius: 0;
    text-align: center;
}

.btn-default{
    background-color: #924242;
    color: white;
    padding: 5px 12px;
    vertical-align: bottom;
}

.navbar{
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}

.navbar-right{
    margin: 0;
}

.navbar-nav li{
    padding: 5px;
}

.main-nav{
    background-color: #400606;
    border-bottom: solid 4px #000;
}

.page-active{
    height: 60px;
    background-color: #924242;
}

.navbar-inverse .navbar-nav li:hover{
    background-color: #333;
    transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-toggle{
    border: none;
    margin-right: 30px;
    padding: 15px;
}

.navbar-default{
    border-color: #000;
}

.social-menu{
    display: inline-flex;
    padding: 0;
}

.social-menu li{
    padding: 5px;
    list-style: none;
}

.social-menu li i{
    border-radius: 20px;
    background-color: #333;
}

/*--top-row-styles--*/

.home-top-row{
    background-image: url("./images/butler-john-trio.jpg");
}

.about-top-row{
    background-image: url("/images/jbt-the-band.jpg");
}

.music-top-row{
    background-image: url("images/jbt-the-music.jpg");
}

.contact-top-row{
    background-image: url("/assets/images/jbt-contact.jpg");
}

.jbt-badge{
    height: 200px;
    width: auto;
}

.jbt-name{
    font-family: "Megrim";
    text-align: center;
    color: white;
    font-size: 2em;
    padding-top: 2vh;
}


/*--video home page--*/

.video-news-row{
    background-image: url("assets/images/tour-bg1.jpg");
    text-align: center;
    padding: 0;
}


.video-article{
        
}

.video-home{
    padding-bottom: 30px;
}

.video-wrapper{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin-top: 10px;
}

.video-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}    

/*--news--*/

.news-info{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}

.social-row{
    padding-bottom: 25px;
    padding-top: 1px;
    position: relative;
}

.social-row::before {
  content: "";
  background: url("assets/images/1000_FleshBlood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.social-networks-icons{
    text-align: center;
    padding-top: 10px
}

.social-networks-icons h4{
    font-family: "Lato", sans-serif;
    color: white;
}

.social-icons{
    padding-left: 0;
}

.social-icons li i{
    border-radius: 20px;
}

.social-icon {
    color: #fff;
    list-style: none;
}

.social-icons li {
    display: inline;
    padding: 5px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook-f {
    padding:10px 16px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #a93d3d;
}

.fa-facebook-f:hover {
    background-color: #3d5b99;
}

.fa-twitter {
    padding:10px 13px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #a93d3d;
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #a93d3d;
}

.fa-instagram:hover {
    background-color: #e1306c;
}

.fa-youtube {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #a93d3d;
}

.fa-youtube:hover {
    background-color: #e64a41;
}

.fa-spotify {
    padding:10px 13px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #a93d3d;
}

.fa-spotify:hover {
    background-color: #1db954;
}

/*--discography home page--*/

.disc-row{
    padding-bottom: 25px;
    padding-top: 1px;
    position: relative;
}

.disc-row::before {
  content: "";
  background: url("assets/images/1000_FleshBlood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.disc-header{
    text-align: center;
    color: white;
    font-weight: 200;
}
 
.album-row{
    padding-bottom: 10px;
}

.album-caption{
    text-align: center;
}

.album-title{
    color: white;
    font-size: 1.25em;
}

/*---------tour home------------------------------------------*/

.tour-bg{
    background-image: url("assets/images/tour-bg1.jpg");
}

.tour-header{
    color: #fff;
}

.tour-date{
    display: inline-block;
    padding-bottom: 10px;
}

.twitter-list{
    padding: 0;
}

.twitter-tweet{
    width: 100%;
    height: auto;
    background-color: transparent;
}

.twitter-list-item{
    background-color: transparent;
}

.tour-container{
    background-color: #191718;
    text-transform: uppercase
}

.tour-row{
    background-image: url("assets/images/4957b0603a0416b.jpg");
    background-size: contain; 
    text-align: center;
}

.tour-header{
    text-align: center;
    color: #000;
}

.full-width{
    width: 100%;
    height: auto;
}

.tour-list{
    list-style: none;
    font-family: "Cinzel",georgia,serif;
    overflow: hidden;
    color: #7d4408;
}

.day{
    display: inline-block;
    color: white;
}

.month-year{
    display: block;
}

.tour-location{
    display: block;
    color: #a64408;
}

.tour-venue{
    display: block;
}

.tour-tickets{
   padding: 0;
   text-align: center;
   width: 75px;
}

.tour-tickets a{
    display: block;
    color: #7d4408;
    text-decoration: none;
    border: 1px solid #7d4408;
    padding: 9px 7px;
    border-radius: 4px;
    cursor: pointer;
}

.tour-tickets a:hover{
    background-color: #000;
    color: #fff;
    -webkit-transition: color, background-color  .5s ease-in-out;   
    -moz-transition: color, background-color .5s ease-in-out;
    -o-transition: color, background-color .5s ease-in-out;
    transition: color, background-color .5s ease-in-out; 
}

.tour-list li:last-child{
    border-bottom: 0;
}



.tour-list-event{
    border-bottom: 2px solid #7d4408;
    padding: 15px 0 15px 0;
}

.tour-mailing-list{
    padding-bottom: 20px;
    color: #927d7d;
}

.tour-join{
    text-align: center;
}

/*---------about page--------------------------------*/

#about-img{
    width: 100%;
    height: 80%;
}


.jbt-about{
    background-color: #000;
    color: white;
    padding: 15px;
}

.band-member-img-col{
    padding: 0;
}

.band-members-img{
    width:100%;
    position: relative;
    z-index: -1;
}

.band-member-bio{
    padding: 10px;
    color: white;
    height: 100%;
    background-color: #000;
}

.band-member-bio p {
    padding-top: 15px;
}

.band-member-bio h2{
    margin: 0;
}

/*--music page--*/

.music-container{
    margin-bottom: 30px;
}

#music-logo{
    width: 80%;
}

#music-jbt{
    width: 90%;
    margin-top: 8%;
}

.album-header{
    text-align: center;
    color: white;
}

/*--album cover and spotify embed elements (learnt from You-Tube)--*/

.audio{
    position: absolute;
    top: 0%;
    z-index: -1;
    height: 231px;
    width: 231px;
}

.wrap {
    height: 231px;
    width: 231px;
    position: relative;
    z-index: 1;
}

#home,
#tin, 
#flesh,
#april,
#grand,
#sunrise{
    overflow: hidden;
    max-height: 231px;
    -webkit-transition: all .5s cubic-bezier(0, 1, 0.5, 1);
    transition: all .5s cubic-bezier(0, 1, 0.5, 1);
    height: 231px; 
    width: 231px;
    border: solid 1px white;
}

#toggle-home,
#toggle-tin,
#toggle-flesh,
#toggle-april,
#toggle-grand,
#toggle-sunrise{
    display: none;
}

.album-label{
    padding: 5px;
    text-align: center;
    color: #fff;
    margin: 15px 0 5px 0px;
    display: inline-block;
    cursor: pointer;
}

/*hidden checkbox action to toggle album and spotify embed*/

#toggle-home:checked ~ .wrap > #home{
    max-height: 0;
}

#toggle-tin:checked ~ .wrap > #tin{
    max-height: 0;
}

#toggle-flesh:checked ~ .wrap > #flesh{
    max-height: 0;
}

#toggle-april:checked ~ .wrap > #april{
    max-height: 0;
}

#toggle-grand:checked ~ .wrap > #grand{
    max-height: 0;
}

#toggle-sunrise:checked ~ .wrap > #sunrise{
    max-height: 0;
}


/*--contact page--*/

.contact-header{
    text-align: center;
    color: #fff;
}

.contact-form{
    background-color: #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 15px;
}

.contact-form input[type=text], select, textarea{
    width: 100%
}

.contact-form input[type=submit]{
    border-radius: 5px;
}

.sign-img{
    width: 100%;
    margin-bottom: 20px;
}


/*--footer--*/

footer{
    background-color: #400606;
    border-top: solid 4px #000;
    background-size: contain;
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

.copyright{
    padding-bottom: 10px;
}

.fa-copyright{
    color:white;
}

.footer-menu ul{
    padding-left: 0;
    vertical-align: middle;
}

.footer-menu li{
    list-style: none;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
}


.footer-menu li a{
    color: white;
}

.footer-menu li::before{
    content: '/';
    color: #696969;
    font-size: 15px;
    position: relative;
    left: -4px;
    top: 2px;
}

.footer-menu li:first-child:before {
    content: "" !important;
}

.fas{
    font-size: 18px;
}

.to-top{
    color: white;
    text-decoration: none;
}

footer p{
    color: white;
}

.page-active-footer{
    height: 25px;
    background-color: #3a3737;
    border-radius: 8px;    
}

/*--media-queries--*/

@media(min-width:768px){
    .top-img-row{
        height: 80vh;
    }
    .jbt-name h2{
        font-size: 2.8em;
    }
    
    .disc-row{
        padding-right:100px;
        padding-left: 100px;
    }
    .band-members-row{
    box-shadow:  inset -56vw 13px 9vw 2vw  #000;
    }
    .band-members-mid-row{
    box-shadow:  inset 56vw 0px 13vw 7vw  #000;
    }
    .display-table-row{
        display: table;
    }
    .table-cell{
        display: table-cell;
        float: none;
    }
    .social-menu{
        display: none !important;
}
}

@media(min-width:992px){
    .top-img-row{
        height: 90vh;
    }
    .album-row{
        margin-left: 3%;
    }
    .album-header{
        margin-right: 3%
    }
    .tour-list{
        margin-top: 15vh;
    }
}

@media(min-width:1024px){
    #wrap{
        left: 10%;
    }
    .jbt-name h2{
        font-size: 3.5em;
    }
    .album-row{
        margin-left: 5%
    }
    .album-header{
        margin-right: 5%
    }
}

@media(min-width:1366px){
    .album-row{
        margin-left: 8%
    }
    .album-header{
        margin-right: 8%
    }
}

@media(min-width:1600px){
    .album-row{
        margin-left: 10%
    }
    .album-header{
        margin-right:10%;
    }
}


@media(max-width:767px){
    .home-top{
        box-shadow: inset 16vw -13px 41vw 3vw #191718;
    }
    .jbt-name h2{
        font-size: 2em;
    }
    .tour-img-row {
        text-align: center;
    }
    .tour-img{
        width: 100%
    }
    .band-members-img{
        width: 100%;
    }
    .tour-tickets{
        margin: 5px 0;
    }
    .top-img-row{
        margin-top: 50px;
    }
    .form-navbar{
        width: 100%;
    }
    .navbar-collapse{
        text-align: center;
        border-top: solid 4px black;
    }
}

@media(max-width:1200px){
    .tour-event-lg{
        display: none;
    }
}
